body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 50px;
}

.container {
    display: flex;
    width: 512px;
    height: 512px;
    border: 1px solid black;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.pixel {
    background-color: rgb(255, 255, 255);
    height: 32px;
    width: 32px;

    margin: 0px;
    gap: 0px;
    
}

.hover {
    opacity: .2;
    background-color: grey;
}

.onclick {
    background-color: black;
}

.eraseButton {
    display: flex;
    border-radius: 8px;
    font-size: larger;
    background-color: aquamarine;
    font-weight: bold;

}